node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db
.vscode
# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Yarn
.yarn

# TypeScript
tsconfig.tsbuildinfo

# CSV data files
static/data/q4_2024_financial_data.csv
static/data/sampledata.csv
static/data/sampledata2.csv
static/data/q4_2024_financial_data_200k.csv
